<h1>WAPPLATE THEME</h1>

<nz-card class="m-1" nzTitle="Buttons">
    <h3>Types</h3>
    <button nz-button nzType="primary">Primary</button>
    <button nz-button nzType="primary" nzLoading><i nz-icon nzType="poweroff"></i>Loading</button>
    <button nz-button nzType="default">Default</button>
    <button nz-button nzType="dashed">Dashed</button>
    <button nz-button nzType="danger">Danger</button>
    <button nz-button nzType="link">Link</button>
</nz-card>

<nz-card class="m-1" nzTitle="Dropdown">
    <h3>Basic</h3>
    <a nz-dropdown [nzDropdownMenu]="menu">
        Hover me
        <i nz-icon nzType="down"></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
            <li nz-menu-item>1st menu item</li>
            <li nz-menu-item>2nd menu item</li>
            <li nz-menu-item>3rd menu item</li>
        </ul>
    </nz-dropdown-menu>

    <h3>Button</h3>
    <button nz-button nz-dropdown [nzDropdownMenu]="menu4">
            Button
            <i nz-icon nzType="down"></i>
          </button>
    <nz-dropdown-menu #menu4="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item>menu4 1st menu item</li>
            <li nz-menu-item>menu4 2nd menu item</li>
            <li nz-menu-item>menu4 3rd menu item</li>
        </ul>
    </nz-dropdown-menu>
</nz-card>

<nz-card class="m-1" nzTitle="Menu">
    <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzSelected>
            <i nz-icon nzType="mail"></i>
            Navigation One
        </li>
        <li nz-menu-item>
                <i nz-icon nzType="home"></i>
                Navigation Two
            </li>
        <li nz-menu-item nzDisabled>
            <i nz-icon nzType="appstore"></i>
            Navigation Three
        </li>
    </ul>
</nz-card>